.weatherCard {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    .date {
        font-size: 1.7rem;
        font-weight: bold;
        margin-bottom: 1rem;
        color: black;
    }
    
    
    .weatherContent {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 1rem;
        .weather {
            
            p {
                font-size: 1.2rem;
                font-weight: 600;
                color: #3D3B3A;
            }
            img {
                width: 30px;
                height: 30px;
                object-fit: cover;
            }
        }

    }
}