header {
    background-color: #F3F7EC;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: antiquewhite;
    margin-bottom: 1rem;
    
    a {
        font-size: 3.2rem;
        color: #006989;
        font-weight: bold;
    }
    a:hover {

        color: #005C78;
    }
}

@media screen and (max-width:"720px") {
    header {
        height: auto;
        padding: 1rem 0;
        border-bottom: 1px solid lightgrey;
        
        a {
            font-size: 2.4rem;
        }
    }
    
}