
* {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  
}

html {
  font-size: 10px;
  background-color: #F3F7EC;
  width: 100%;
}

body {
  font-family: 'c';
}
a {
  text-decoration: none;
}

@font-face {
  font-family: 'c';
  src: url('./font/starfont.ttf');
  font-display: swap;
}